@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: "Amatic SC", cursive;
	font-size: 2em;
	background-color: #E0F5FF;
	text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.background_image {
	opacity: 0.2;
	float: left;
	z-index: -1;
}

#alphabet, #alphabet2 {
	clear: both;
	margin-bottom: 30px;
	margin: auto;
	text-align: center;
	background-color: white;
	height: 1.75em;
}

#alphabet_wrapper{
	border: 2px solid black;
	margin: auto;
	width: 90%;
	background-color: white;
}

/*#guess_form_wrapper {

}*/
#guess_form {
	border: 2px solid black;
	width: 100%;
	background-color: white;
	margin: auto;
	padding: 20px;
}

input[type=text]:focus {
  box-shadow: 0 0 10px #FF69B4;
  border: 1px solid #FF69B4;
}

input[type=submit] {
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	height: 30px;
	box-shadow: 0 0 10px #FF69B4;
	border: 1px solid #FF69B4;
	background-color: white;
	width: 40%;
	font-family: "Amatic SC", cursive;
	font-size: 0.5em;
}

input[type=text] {
	height: 30px;
	text-align: center;
	font-size: 18px;
	width: 80%;
	margin: 20px auto;
}


.letter_wrapper {
	float: left;
	width: 5.5%;
	/*max-width: 40px;
	min-width: 30px;*/
	margin: 1%;
	/*margin-bottom: 40px;*/
}

.letter {
	position: absolute;
	float: left;
	z-index: 100;
	text-align: center;
	width: 5%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

#header {
	display: block;
	background-color: #E0F5FF;
	font-weight: heavy;
	font-size: 4em;
}

#guesslist_hash {
	display: block;
	width: 44%;
	float: left;
	background-color: #FFFFFF;
	height: 450px;
	margin: 20px;
	font-size: 2em;
	border: 2px solid black;
	overflow: scroll;
}

#guesslist_hash th, #guesslist_hash td {
	border: 2px solid black;
	height: 1em;
}

th {
	height: 1em;

}
table {
	width: 100%;
	height: 100%;
	font-size: .5em;
	text-align: center;
}

#credit{
	font-size: .5em;
	margin-bottom: 20px;
}

#right-side{
	display: block;
	width: 44%;
	float: right;
	height: 600px;
	margin:20px;
}

#notes{
	margin-top: 20px;
	background-color: white;
	border: 2px solid black;
	height: 205px;
}

.guesses {
	width: 80%;
}

.values {
	width: 100%;
}
