<div id='directions'>
  <h1>Directions<h2>
  <p>Welcome to Jotto!  Your goal is to guess the word that I've come up with.  My word will always be a five letter word with no repeat letters.  For example, I might choose the word 'PANTS', but I would not choose the word 'SIDES' because the letter 'S' appears in it twice.<p>

  <p>You will guess five letter words (also with no repeat letters) one at a time, and I will tell you how many letters your word has in common with mine.  For example, if I chose the word 'PANTS' and you guessed 'SPICE', I would tell you that the words have 2 letters in common (S and P).  You can use this information to figure out my word.</p>
</div>
