<html>
<head>
	<title>JOTTO!!</title>
	<link rel="stylesheet" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>	<script src="scripts/app.js"></script>
</head>

<body>
	<div class="header-wrapper">
		<h1 id="title">JOTTO!</h1>
		<div id = "credit">
			Created by Nancy Hawa
		</div>
	</div>

	<div class="main-wrapper">
	<div class="clearfix" id="alphabet_wrapper">
		<div class="clearfix" id="alphabet">
		</div>

		<div class="clearfix" id="alphabet2">
		</div>
	</div>

	<div id = "game">
		<div id = "guesslist_hash">
			<table id = "guesses">
				<tr>
					<th class = "guesses">Guesses</th>
					<th class = "values">Values</th>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
					<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>
				</tr>
					<td></td>
					<td></td>
				<tr>


			</table>
		</div>

		<div id="right-side">
			<div id="guess_form_wrapper">
				<div id="guess_form">
					<form action="/index.html" method="post">
						<label for="guess">Enter your guess below.</label><br>
						<input id="input_field" type="text"><br>
						<input id="submit_button" type="submit" value="GUESS"><br>
					</form>
				</div>
			</div>
			<div id = "notes">
				Notes
			</div>
		</div>
	</div>
</div>





</body>
</html>
